<footer>
  <div class="container">
    <div class="row">
      <div class="footer_logo">
        <a href="/" style="color: #ccc;">Change IT</a>
      </div>
      <div class="footer_made" style="margin-right: -600px;">Writed by Abdullayev Bobur</div>
      <div class="footer_made">Design by SokhibjonDev</div>
    </div>
  </div>
</footer>