<nav>
  <div class="container">
    <div class="row">
      <div class="logo">
        <a href="/"><img class="img"
            src="http://changeitacademy.herokuapp.com/images/27112021-151921_922-change%20it_logo_black(paragraph_medium).png"
            alt=""></a>
      </div>
      <div class="menu">
        <ul>

          <li class="menu_item"><a class="a" href="/">Barcha o'quvchilar</a></li>
          {{! <li class="menu_item"><a href="/people/peoples/1">1-month</a></li>
          <li class="menu_item"><a href="/people/peoples/2">2-month</a></li>
          <li class="menu_item"><a href="/people/peoples/3">3-month</a></li>
          <li class="menu_item"><a href="/people/peoples/4">4-month</a></li>
          <li class="menu_item"><a href="/people/peoples/5">5-month</a></li>
          <li class="menu_item"><a href="/people/peoples/6">6-month</a></li>
          <li class="menu_item"><a href="/people/peoples/7">7-month</a></li>
          <li class="menu_item"><a href="/people/peoples/8">8-month</a></li> }}
          <li class="menu_item click_btn">
            <p class="a">Oy bo'yicha o'quvchilar ro'yxati

            </p>
            <div class="click_nav">
              <ul class="catalog" style="display: none  ;">
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/1">1-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/2">2-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/3">3-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/4">4-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/5">5-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/6">6-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/7">7-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/8">8-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/9">9-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/10">10-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/11">11-oy</a></li>
                <li class="click_item"><a style="color: #fff !important;" href="/people/peoples/12">12-oy</a></li>
              </ul>
            </div>
          </li>
          <li class="menu_item click_btn2">
            <p class="a">Guruh bo'yicha o'quvchilar ro'yxati
            </p>
            <div class="click_nav2">
              <ul class="catalog1" style="display: none; height: 50px;">
                {{#each result}}
                <li class="click_item"><a style="color: #fff !important; " href="/people/peoples/{{@key}}">{{@key}}-guruh</a></li>
                {{/each}}
              </ul>
            </div>
          </li>
          <li class="menu_item"><a class="last_menu_link"
              href="/people/add">O'quvchi qo'shish</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>