<link rel="stylesheet" href="/style/add.css">
<div class="container addStudent    ">
    <form style="background: #fff; box-shadow: 0 0 15px 5px #ccc;" action="/people/add" method="post">
        <h2 class="after" style="color: #101018; text-transform: uppercase; font-size: 28px; padding: 5px;">O'quvchi
            qo'shish</h2>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="surname" placeholder="Surname" required>
        <input type="number" name="number" placeholder="Number" required>
        <input type="number" name="group" placeholder="Group" required>
        <input type="number" name="month" placeholder="Month" required>
        <input type="number" name="score" placeholder="Score" required>
        <input style="color: #fff; padding: 13px 20px; !important" class="btn" type="submit">
    </form>
</div>